{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}


{% block content%}
<div class="about">
  <h1>About me</h1>
  <p>
    I'm an engineering student taking a Django class, learning how to build cool web apps with Python. We're working with models, views, and templates, and getting the hang of setting up environments and managing databases. It’s a great way to dive into full-stack development!
  </p>
  <div class="abt-flex"><img src="https://cdn.pixabay.com/photo/2023/01/31/04/11/rocket-7757105_640.png"></div>
</div>


{% endblock content %}